.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-choices-block{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.color-block{
  text-align: center;
  margin: 5px;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  font-size: 19px;
}

.green-block{
  background-color: green;
}

.red-block{
  background-color: red;
}

.black-block{
  background-color: black;
}

.violent-block{
  background-color: violet;
}

.blue-block{
  background-color: blue;
}

.picker-title{
  text-align: start;
}

#result{
  display: block;
  border: 1px solid red;
  padding: 12px;
  border-radius: 5px;
  text-align: start;
  min-width: 34vh;
  min-height: 24vh;
  width: 100%;
  height: 100%;
}

.active{
  transform: scale(1.2);
    transition: 2s;
}
